.App {
  text-align: center;
}

li{
  font-weight: 600;
  color: white;
  line-height: 1.5em;
  /* list-style-image: url(./assets/img/check-icon.png); */

}

.custom-shape-divider-top-1669359534 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1669359534 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 262px;
}

.custom-shape-divider-top-1669359534 .shape-fill {
  fill: #17428B;
}
